<h1>Volunteer Tracker</h1>

<form class="" action="/add_project" method="post">
  <label for="title">Title of the project:</label>
  <input type="text" name="title">
  <button type="submit" name="button">Create Project</button>
</form>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/project/<%= project.id %>"><%=project.title %></a></li>
  <% end %>
</ul>

<h3>Assign a volunteer</h3>

<form action="/add_volunteer" method="post">
  <label for="name">Volunteer Name:</label>
  <input type="text" name="name"><br>
  <label for="project">Project:</label>
  <select class="project" name="project">
    <% @projects.each do |project| %>
      <option value="<%= project.id %>"><%= project.title %></option>
    <% end %>
  </select>
  <button type="submit" name="button">Assign Volunteer</button>
</form>

<% if @volunteers.any? %>
<h3>Volunteers</h3>
<ul>
  <% @volunteers.each do |volunteer| %>
  <li><a href="/volunteer/<%= volunteer.id %>"><%=volunteer.name %></a></li>
  <% end %>
</ul>
<% end %>
<% end %>
